.contact-info {
	border: 2px solid #e0e4ea;
	border-radius: 10px;
	margin-bottom: 16px;
	box-shadow: 0 1px 6px rgba(0,0,0,0.04);
	background: #fafbfc;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    box-sizing: border-box;
}
.contact-info i{
     background:#EC2D5D;
    color: #3a3a3a;
    border-radius: 50%;
    padding: 18px;
    margin-bottom: 17px;
}
.contact-info a {
    text-decoration: none;
   
}

@media (max-width: 768px) {
    .contact-info {
        padding: 10px;
        margin-top: 20px;
        font-size: 16px;
    }
    .contact-info i {
        padding: 12px;
        font-size: 18px;
    }
}




